<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<script type="text/javascript" language="JavaScript" src="/library/js/headscripts.js"></script>
<link href="/library/skin/tool_base.css" type="text/css" rel="stylesheet" media="all" />
<link href="/library/skin/default/tool.css" type="text/css" rel="stylesheet" media="all" />
</head>
<body>
<div class="portletBody">
<h3>Results Overview</h3>
<table>
  <thead>
    <tr>
      <th>Tests ID</th>
      <th>Start Time</th>
      <th>Finish Time</th>
      <th>Running Time</th>
      <th>Successful</th>
      <th>Failures</th>
      <th>Errors</th>
      <th>Num Tests</th>
    </tr>
  </thead>
  <tbody>
    <tr rsf:id="testrun-row:">
      <td rsf:id="testid">
        <a href="" rsf:id="detailed-results-link">My Tests</a>
      </td>
      <td rsf:id="started">10:43 AM</td>
      <td rsf:id="finished">Not yet finished</td>
      <td rsf:id="running-time">4 hours</td>
      <td rsf:id="successful">No</td>
      <td rsf:id="failures">4</td>
      <td rsf:id="errors">8</td>
      <td rsf:id="num-tests">32</td>
    </tr>
  </tbody>
</table>
</div>
</body>
</html>